@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{ font-size: 11px; text-align: center; }
a { color: hsl(228, 45%, 44%); }


body {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
   }

h1 {
    text-align: left;
    padding-left: 0.8em;
}


p {
    text-align: left;
    padding-left: 0.8em
}
.container {
    width: 225px;
    border: red solid 2px;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 0 20px 15px black, 0 0 30px 30px orange;
    
    }

.img {
    width: 95%;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
}

.image-avatar {
    width: 8%;
}

.eth {
    display: flex;
    
}

.days {
    /* padding-left: 9em; */
}


.creator {
    display: flex;
    padding-left: 1em;
    margin-bottom: 4px;
}

.eth-icon {
    width: 8px;
    height: 20px;
}

.days-icon {
    width: 8px;
    height: 20px;
}

.value {
    font-weight: 600;
}

.author {
    font-size: 400;
}