@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{ font-size: 11px; 
    text-align: center;
    box-sizing: border-box;
}
a { color: hsl(228, 45%, 44%); }


body {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
   }

h1 {
    text-align: left;
    padding-left: 0.8em;
    color: hsl(0, 0%, 100%)
}


p {
    text-align: left;
    padding-left: 0.8em;
    color: hsl(228, 45%, 44%); }
    
    

.container {
    width: 225px;
    height: auto;
    border: hsl(215, 32%, 27%) solid 2px;
    border-radius: 15px;
    text-align: left;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0 0 0.5px 15px hsl(217, 54%, 11%), 0 0 1px 30px hsl(217, 54%, 11%);
    
    }

.img {
    width: 95%;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
}

.image-avatar {
    width: 8%;
}

.eth {
    display: flex;
    
}

.days {
    /* padding-left: 9em; */
}


.creator {
    display: flex;
    padding-left: 1em;
    margin-bottom: 4px;
}

.eth-icon {
    width: 8px;
    height: 20px;
}

.days-icon {
    width: 8px;
    height: 20px;
}

.value {
    font-weight: 600;
    color: hsl(178, 100%, 50%);
}

.author {
    font-size: 400;
    color:hsl(0, 0%, 100%)
}